<div class="main info-bg">
  <div class="main-container info-sub-bg clearfix">
    
    <div class="planInfo-list col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="list-group">
        <a ui-sref="planInfo" class="list-group-item">
          PLAN 소개
        </a>
        <a ui-sref="tsInfo" class="list-group-item">여행 &amp; 창업 소개</a>
        <a href="" ui-sref="adminInfo" class="list-group-item active">운영진 소개</a>
        <a href="" ui-sref="faq" class="list-group-item">F A Q</a>
      </div>
    </div>
    
    <div class="planInfo-header col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div class="planInfo-title">
        운영진 소개
      </div>
      <div class="planInfo-content">
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/dong.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              신동욱
            </div>
            <div class="person-position">
              회장
            </div>
            <div class="person-email">
              hwrtkisy486@hanmail.net
            </div>
            <div class="person-like">
              새장 안에 갇혀 살 수 없는 새들이 있다.
              오랫동안 꿈을 그리는 사람은 마침내 그 꿈을 닮아간다
            </div>
          </div>
        </div>
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/sun.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              강선구
            </div>
            <div class="person-position">
              총무
            </div>
            <div class="person-email">
              sungoo96@naver.com
            </div>
            <div class="person-like">
              아프지마.. 보고싶어지니까..
            </div>
          </div>
        </div>
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/eun.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              신은주
            </div>
            <div class="person-position">
              기획
            </div>
            <div class="person-email">
              delphine114@naver.com
            </div>
            <div class="person-like">
              아름다운 꽃한송이 처럼..
            </div>
          </div>
        </div>
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/lee.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              이영
            </div>
            <div class="person-position">
              여행
            </div>
            <div class="person-email">
              -
            </div>
            <div class="person-like">
              해외여행은 여행이 아니야 이민가는거야!!
            </div>
          </div>
        </div>
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/young.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              김영후
            </div>
            <div class="person-position">
              인사
            </div>
            <div class="person-email">
              dudgn27@naver.com
            </div>
            <div class="person-like">
              집중하자.. 집중
            </div>
          </div>
        </div>
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/park.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              박선영
            </div>
            <div class="person-position">
              홍보
            </div>
            <div class="person-email">
              -
            </div>
            <div class="person-like">
              비주얼 담당
            </div>
          </div>
        </div>
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/ho.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              송호연
            </div>
            <div class="person-position">
              창업
            </div>
            <div class="person-email">
              bohobo@naver.com
            </div>
            <div class="person-like">
              든든한 도련님 입니다.
              <br>
            </div>
          </div>
        </div>
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/kyoung.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              박경민
            </div>
            <div class="person-position">
              행사
            </div>
            <div class="person-email">
              abcd@test.com
            </div>
            <div class="person-like">
              편안하고 안정적인 동아리를 위해 쉬지않는 멧돼지 입니다.
            </div>
          </div>
        </div>
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/do.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              김도희
            </div>
            <div class="person-position">
              여학우
            </div>
            <div class="person-email">
              piakdh@naver.com
            </div>
            <div class="person-like">
              도도한 아가씨 입니다.
            </div>
          </div>
        </div>
        
        <div class="person col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="person-image">
            <img src="img/sang.png"/>
          </div>
          <div class="person-info">
            <div class="person-name">
              이상훈
            </div>
            <div class="person-position">
              개발
            </div>
            <div class="person-email">
              wkdrns119@naver.com
            </div>
            <div class="person-like">
              개발..?
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</div>