<div class="main info-bg">
  <div class="main-container info-sub-bg clearfix">
    
    <div class="planInfo-list col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="list-group">
        <a ui-sref="planInfo" class="list-group-item">
          PLAN 소개
        </a>
        <a ui-sref="tsInfo" class="list-group-item">여행 &amp; 창업 소개</a>
        <a href="" ui-sref="adminInfo" class="list-group-item">운영진 소개</a>
        <a href="" ui-sref="faq" class="list-group-item active">F A Q</a>
      </div>
    </div>
    
    <div class="planInfo-header col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div class="planInfo-title">
        F A Q
      </div>
      <div class="planInfo-content">
        
        <uib-accordion close-others="oneAtATime">
      
          <uib-accordion-group heading="질문1문문문문문문문문문문문문문문문문문문문문문문문문문문문">
            답변1aaaaaaaa ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ
          </uib-accordion-group>

          <uib-accordion-group heading="질문2">
            답변2
          </uib-accordion-group>

          <uib-accordion-group heading="질문3">
            답변3
          </uib-accordion-group>
          
          <uib-accordion-group heading="질문4">
            답변4
          </uib-accordion-group>
          
          <uib-accordion-group heading="질문5">
            답변5
          </uib-accordion-group>
          
          <uib-accordion-group heading="질문6">
            답변6
          </uib-accordion-group>
          
          <uib-accordion-group heading="질문7">
            답변7
          </uib-accordion-group>
          
          <uib-accordion-group heading="질문8">
            답변8
          </uib-accordion-group>

        </uib-accordion>
        
      </div>
    </div>
    
  </div>
</div>