<div class="main info-bg">
  <div class="main-container info-sub-bg clearfix">
    
    <div class="planInfo-list col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="list-group">
        <a ui-sref="planInfo" class="list-group-item">
          PLAN 소개
        </a>
        <a ui-sref="tsInfo" class="list-group-item">여행 &amp; 창업 소개</a>
        <a href="" ui-sref="adminInfo" class="list-group-item">운영진 소개</a>
        <a href="" ui-sref="faq" class="list-group-item active">F A Q</a>
      </div>
    </div>
    
    <div class="planInfo-header col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div class="planInfo-title">
        F A Q
      </div>
      <div class="planInfo-content">
        
        <uib-accordion close-others="oneAtATime">

          <uib-accordion-group heading="동아리 가입조건이 어떻게 되나요?">
            저희 동아리는 학교에선 동아리개념으로 운영되며, 졸업 후나 직장인들에겐 동호회 개념으로 운영하고 있습니다.<br><br>
            동아리 가입은 고등학교 1학년부터 되며 대학졸업자, 직장인, 타 지역 또는 타 대학생분들도 가능합니다.<br><br>
            <font style="color:red">단, 직장인은 만31세 이하만 가능합니다.</font>
          </uib-accordion-group>
          
          <uib-accordion-group heading="수도권 지역이 아닌데 지역 상관없이 가입이 가능한가요?">
            예, 가능합니다.<br>
            <font style="color:red">타 지역분들도 누구나 가입이 가능합니다.</font><br>
            온라인 및 오프라인으로 모든 활동이 가능하고 활동 일정 및 장소는 미리 다 공개하기 때문에 참석만 하시면 됩니다.<br>
            또한, 여행팀/창업팀 행사 장소 근처나 가는 길목 지역에 계신분들은 픽업도 하기 때문에 걱정하실 필요없습니다.
          </uib-accordion-group>
          
          <uib-accordion-group heading="사이트 회원가입에 문제가 생겻는데 어떻게 하나요?">
            사이트 회원가입에 문제가 발생하시면 회장 또는 기술개발팀으로 문의주시면 됩니다.<br>
            문의는 이메일 또는 전화연결이나 카톡으로도 가능하며, 이메일은 확인하는데 <font style="color:red">시간이 소요될 수 있습니다.</font><br>
            개별적으로 연락주시면 빠른 처리를 도와드리겠습니다.<br>
            (연락처 확인은 운영진 소개 게시판을 통해 확인 가능합니다.)
          </uib-accordion-group>
          
          <uib-accordion-group heading="여행팀은 무슨 활동을 하나요?">
            여행팀은 국내 및 해외 지역을 방문하여 해당 지역 관광지 또는 맛집을 탐방하고 계절별 여행도 진행합니다.<br>
            즉, 여름엔 <font style="color:red">워터파트, 계곡, 바닷가</font> 겨울엔 <font style="color:red">스키장, 온천</font> 같은곳으로 떠납니다.
          </uib-accordion-group>
          
          <uib-accordion-group heading="창업팀은 무슨 활동을 하나요?">
            창업팀은 <font style="color:red">창업이 바탕되는 박람회</font>를 주목적으로 참여하고 부가적으로 취업 박람회나 다양한 주제의 박람회도 기회가 있으면 참여합니다.<br>
            또한, 벤처사업 대회도 팀을 구성하여 참여하고 다양한 직접 활동 할수 있는 벤처 활동을 진행합니다.
          </uib-accordion-group>
          
          <uib-accordion-group heading="운영진은 어떻게 지원 하나요?">
            운영진은 사이트 공지를 통해 모집공고 글을 올립니다.<br>
            또한, 개별적으로 운영진에 관심있는 분들은 <font style="color:red">회장 또는 인사팀을 통해 문의</font>해 주시면 됩니다.<br>
            (연락처 확인은 운영진 소개 게시판을 통해 확인 가능합니다.)
          </uib-accordion-group>
      
          <uib-accordion-group heading="동아리 탈퇴는 어떻게 하나요?">
            동아리 탈퇴는 회장 또는 인사팀을 통해 진행이 가능합니다.<br>
            단, <font style="color:red">가입 후 1년이 지나야 가능</font>합니다.
          </uib-accordion-group>

          <uib-accordion-group heading="해당 사이트 탈퇴는 어떻게 하나요?">
            사이트 회원탈퇴는 회장 또는 인사팀을 통해 진행이 가능합니다.<br>
            단, 동아리활동 중엔 사이트 탈퇴가 불가능하며 가입 후 1년이 지나야<br>
            <font style="color:red">동아리 탈퇴와 사이트 탈퇴가 동시에</font> 이루어 집니다.
          </uib-accordion-group>
          
        </uib-accordion>
        
      </div>
    </div>
    
  </div>
</div>