<div class="main">
  <div class="login">
    <div class="loginform">
      <form name="projectForm" ng-submit="submit()">
        
        <md-input-container class="md-block">
          <label>Email</label>
          <input required type="email" name="email" id="loginEmail" ng-model="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" autocomplete="off" />
          <div ng-messages="projectForm.email.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              이메일형식이어야 하고 최소 10글자에서 최대 100글자까지 됩니다
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Password</label>
          <input required type="password" name="password" id="loginPwd" ng-model="password">
          <div ng-messages="projectForm.password.$error">
            <div ng-message="required">패스워드를 입력해주세요</div>
          </div>
        </md-input-container>
        
        <md-switch ng-model="save" aria-label="Switch 1">
          Remember Email
        </md-switch>
        
        <button type="submit" id="login">{{ loginText }}</button>
        <a ui-sref="signup">
          <div id="signup">
            회원가입
          </div>
        </a>
      </form>
    </div>
  </div>

</div>

<div class="alert alert-danger" id="loginFail" role="alert" style="display:none;">
  <strong class="alert-title">로그인 실패!</strong>
  <div class="alert-status">{{ loginFailStatus}}</div>
  <div class="alert-text">{{ loginFailText }}</div>
  <button type="button" class="btn btn-danger" id="danger-btn">확인</button>
</div>