<div class="main">

  <div class="sub-menu">
    <ul>
      <a href="" ng-click="scrollTo('one')"><li>INTRO</li></a>
<!--      <a href="" ng-click="scrollTo('two')"><li>IMAGE</li></a>-->
      <a href="" ng-click="scrollTo('three')"><li>NOTICE</li></a>
      <a href="" ng-click="scrollTo('four')"><li>LINK</li></a>
      <a href="" ng-click="scrollTo('five')"><li>FORM &amp; SEND</li></a>
    </ul>
  </div>
  
  
  <div id="one">
    <div class="main-container">
      <div class="text-container">
        <h1 class="text"></h1>
      </div>
    </div>
  </div>
  
  <div id="two">
    <div class="main-container">
      
      <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-generic" data-slide-to="1"></li>
          <li data-target="#carousel-generic" data-slide-to="2"></li>
          <li data-target="#carousel-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          
          <div class="item active">
            <!-- 이미지 사이즈 1050 X 700 -->
            <img src="img/slide-1.png">
            <div class="carousel-caption">
              <h3></h3>
            </div>
          </div>
          
          <div class="item">
            <img src="img/slide-2.png">
            <div class="carousel-caption">
              <h3></h3>
            </div>
          </div>
          
          <div class="item">
            <img src="img/slide-3.png">
            <div class="carousel-caption">
              <h3></h3>
            </div>
          </div>
          
          <div class="item">
            <img src="img/slide-4.png">
            <div class="carousel-caption">
              <h3></h3>
            </div>
          </div>
          
        </div>

        <!-- Controls -->
        <a class="left carousel-control " href="#carousel-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        
        <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        
      </div>
      
    </div>
  </div>
  
  <div id="three">
    <div class="notice-title col-xs-12 col-sm-3 col-md-6 col-lg-6">
      RECENT NOTICE
    </div>

    <div class="notice-content col-xs-12 col-sm-9 col-md-6 col-lg-6">
     <div class="tabs">
        <div ng-cloak>
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="여행공지">
                <md-content class="md-padding">
                  
                  <div class="tNotice">
                    <ul class="notice-list">
                      <li class="noti n-1">
                        <a href="" class="noti-list">
                          <div class="noti-date">
                            2016년 07월 20일
                          </div>
                          <div class="noti-title">
                            운영진 부원 모집 - 홍보팀 및 행사팀
                          </div>
                        </a>
                      </li>
                      <li class="noti n-2">
                        <a href="" class="noti-list">
                          <div class="noti-date">
                            2016년 07월 20일
                          </div>
                          <div class="noti-title">
                            제 2회 강화 석모도 지역 탐방 여행 - 일정 및 스케줄
                          </div>
                        </a>
                      </li>
                      <li class="noti n-3">
                        <a href="" class="noti-list">
                          <div class="noti-date">
                            2016년 07월 20일
                          </div>
                          <div class="noti-title">
                            제 1회 부산 지역 탐방 여행 - 일정 및 스케줄
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <a href="" ui-sref="tNotice" class="notice-btn">
                    VIEW ALL NOTICE
                  </a>
                  
                </md-content>
              </md-tab>
              <md-tab label="창업공지">
                <md-content class="md-padding">
                  
                  <div class="sNotice">
                    <ul class="notice-list">
                      <li class="noti n-1">
                        <a href="" class="noti-list">
                          <div class="noti-date">
                            2016년 07월 20일
                          </div>
                          <div class="noti-title">
                            운영진 부원 모집 - 홍보팀 및 행사팀
                          </div>
                        </a>
                      </li>
                      <li class="noti n-2">
                        <a href="" class="noti-list">
                          <div class="noti-date">
                            2016년 07월 20일
                          </div>
                          <div class="noti-title">
                            제 2회 창업 박람회 - 일정 및 참가자 모집
                          </div>
                        </a>
                      </li>
                      <li class="noti n-3">
                        <a href="" class="noti-list">
                          <div class="noti-date">
                            2016년 07월 20일
                          </div>
                          <div class="noti-title">
                            제 1회 체육대회 주점 행사 - 일정 및 스케줄
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <a href="" ui-sref="sNotice" class="notice-btn">
                    VIEW ALL NOTICE
                  </a>
                  
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
      </div> 
    </div>  <!-- /noti-content -->
  </div>  <!-- /#three -->
  
  <div id="four">
    <div class="main-container clearfix">
      
      <div class="link-title">
        LINK
      </div>
      
      <div class="links col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <i class="fonti um-facebook-square"></i>
        <div>
          <a ng-href="https://www.facebook.com" class="link-btn" target="_blank">
            PLAN 공식 페이스북 페이지
          </a>
        </div>
      </div>
      
      <div class="links col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <i class="fonti um-naver-square"></i>
        <div>
          <a ng-href="http://www.naver.com" class="link-btn" target="_blank">
            PLAN 공식 네이버 카페
          </a>
        </div>
      </div>
      
      <div class="links col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <i class="fonti um-kakao-talk"></i>
        <div>
          <a ng-href="https://open.kakao.com/o/sOUSXBl" class="link-btn" target="_blank">
            1:1 상담 KAKAO 오픈채팅
          </a>
        </div>
      </div>
      
      <div class="links col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <i class="fonti um-faq-o"></i>
        <div>
          <a href="" ui-sref="faq" class="link-btn">
            F A Q
          </a>
        </div>
      </div>
      
    </div>
  </div>
  
  <div id="five">
    <div class="send">
        
      <div class="send-form">
        <div class="send-title">
          FORM &amp; SEND
        </div>
        
        <div class="send-warn">
          주의!<br>
          가입양식의 파일명을 바꾸지 마세요.
        </div>
        
        <div class="forms clearfix">
          
          <div class="left-box col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label for="download" class="labels">가입양식 다운로드</label>
            <a ng-href="file/a.txt" download><md-button class="md-raised md-primary" id="download">DOWNLOAD</md-button></a>
          </div>

          <div class=" right-box col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label for="upload" class="labels">가입양식 보내기</label>
            <label for="file" class="file-label file-btn">파일선택</label>
            <input type="file" name="myfile1" id="file">
            <md-button class="md-raised md-primary" id="upload">UPLOAD</md-button>
          </div>
          
        </div>
        
        
      </div>

    </div>

  </div>
  
</div>



<!--파일이 없을때 경고창-->
<div class="alert alert-danger" id="noFile" role="alert" style="display:none;">
  <strong>Warning!</strong> 
  <div class="alert-text"></div>
  <button type="button" class="btn btn-danger" id="danger-btn">확인</button>
</div>

<!--파일 업로드 성공-->
<div class="alert alert-success" id="upFile" role="alert" style="display:none;">
  <strong id="success-title"></strong> 
  <div class="success-text"></div>
  <button type="button" id="success-btn" class="btn btn-success" style="display:none;">
    확인
  </button>
</div>

<script>
  $(document).ready(function() {
    
    $(document).on("click", "#danger-btn", function() {
      $('#noFile').css('display','none');
    });
    $(document).on("click", "#success-btn", function() {
      $('#upFile').css('display','none');
    });
    
    
    $(document).on("click", "#upload", function() {
      console.log("upload..");
      if ($("#file").prop("files")[0] !== undefined) {
        
        $('#success-title').html('양식을 보내는 중입니다...');
        $('.success-text').html('<i class="fonti um-spinner-alt um-pulse"></i>');
        $('#upFile').css('display','');
        
        var file_data = $("#file").prop("files")[0];
        var file_name = file_data.name;
        
        if (file_name !== '양식이름') {
          $('.alert-text').html('동아리 가입 양식만 보낼수 있습니다.');
          $('#noFile').css('display','');
        } else {
//          여기에 ajax 넣기 
        }
        
        var form_data = new FormData();
        form_data.append("file", file_data);

        $.ajax({
          url: "/upload",
          dataType: 'json',
          cache: false,
          contentType: false,
          processData: false,
          data: form_data,
          type: 'post',
          success: function(re) {
            console.log(re.success);
            if (re.success == 'true') {
              console.log('성공');
              $('#success-title').html('성공적으로 양식을 보냈습니다.');
              $('.success-text').html('<i class="fonti um-check"></i>');
              $('#success-btn').css('display','');
              $('#file').val('');
            } else if (re.success == 'false') {
              console.log('실패');
              $('.alert-text').html('업로드 실패 관리자에게 문의하세요.');
              $('#noFile').css('display','');
            }
          }
        }); // ajax - end
        
      } else {
        console.log('파일없음');
        $('.alert-text').html('파일을 선택하지 않았습니다.');
        $('#noFile').css('display','');
      } // else - end
      
    });
  });
  
  $('#carousel-generic').carousel({
    interval: 20000
  })
</script>