<div class="main info-bg">
  <div class="main-container info-sub-bg clearfix">
    <div class="planInfo-list col-xs-12 col-sm-3 col-md-3 col-lg-3 clearfix">
      <div class="list-group">
        <a href="" ui-sref="planInfo" class="list-group-item active">
          PLAN 소개
        </a>
        <a href="" ui-sref="tsInfo" class="list-group-item">여행 &amp; 창업 소개</a>
        <a href="" ui-sref="adminInfo" class="list-group-item">운영진 소개</a>
        <a href="" ui-sref="faq" class="list-group-item">F A Q</a>
      </div>
    </div>
    
    <div class="planInfo-header col-xs-12 col-sm-9 col-md-9 col-lg-9 clearfix">
      <div class="planInfo-title clearfix">
        PLAN 소개
      </div>
      
      <br><br>
      <div class="info-img">
        <img src="img/plan_b.png">
      </div>
      
      <div class="planInfo-content">
        <h2 class="info-title"></h2>
        <div class="info-content">
플랜이란? 
말 그대로 계획 이라는 뜻 입니다.
          
무슨 일이든 계획적으로 진행하자! 라는 의미로 저희 전국 연합동아리 플랜은 창업팀과 여행팀으로 2가지 분류로 나눠져 있습니다.

커뮤니케이션을 바탕으로 전국에 다양한 사람들을 통해 소통하고 정보를 공유하고 인맥을 형성하면 계획적으로 자신의 꿈을 성장해 나가고 좋은 경험을 많이 할 수 있는 곳입니다.

남녀노소 누구나 부담 없이 여행을 통해 스트레스 해소하거나 좋은 추억을 만들수 있고 좋은 인연들을 통해 소통할 수 있으며 창업에 관심있는 분이나 꿈을 가진 사람들끼리 서로 힘을 합쳐 다양한 활동을 통해 경험을 해볼 수 있고 스터디 같은 분위기를 형성해드립니다.
        </div>
      </div>
      
    </div>
  </div>
</div>