<div class="main">
  <div class="main-container clearfix">
    
    <div class="planInfo-list col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="list-group">
        <a ui-sref="planInfo" class="list-group-item">
          PLAN 소개
        </a>
        <a ui-sref="tsInfo" class="list-group-item active">여행 &amp; 창업 소개</a>
        <a href="" ui-sref="adminInfo" class="list-group-item">운영진 소개</a>
        <a href="" ui-sref="faq" class="list-group-item">F A Q</a>
      </div>
    </div>
    
    <div class="planInfo-header col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <div class="planInfo-title">
        여행 &amp; 창업 소개
      </div>
      <div class="planInfo-content">
        <div>
        <h2 class="info-title">여행</h2>
        <div class="info-content">
전국 남녀 노소 할꺼 없이 다 같이 국내와 해외 여행을 통해 서로 소통하고 새로운 사람들을 만날수 있는 좋은 계기를 제공 합니다.

1년에 최대 4번 여행을 진행 할 수 있습니다.
          
1학기 중 1번
여름방학 중 1번
2학기 중 1번
겨울방학 중 1번

평균적으로 1년에 2번정도 실시하고 있습니다.

국내 다양한 지역 탐방과 서로 인맥형성 하기 좋은 바닷가 계곡 워터파크 스키장 등 다양한 곳들을 체험할수 있습니다.

해외는 타 나라 탐방을 목표로 패키지 상품 또는 배낭 여행 방식으로 진행됩니다.
        </div>
        <br><br>
        <h2 class="info-title">창업</h2>
        <div class="info-content">
전국 남녀 노소 할꺼 없이 창업의 열정을 가진 모든 청년들이라면 저희와 함께 창업박람회 또는 국내 다양한 박람회들을 참여하고 창업팀끼리 사업아이템 공모전 및 행사도 참가해서 대회 활동 및 직접 다양한 창업에 대한 꿈을 서로 소통하면서 공유할 수 있는 공간을 제공하고 다양한 인맥을 형성 할수 있습니다.

창업 박람회는 1년에 거의 매달 있으며 지역은 매번 다릅니다.
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>