/* 스크롤 네비게이터 */
.sub-menu {
  position: fixed;
  top: 100px;
  width: 100vw;
  height: 45px;
  background-color: rgba(42,50,56,.5);
  text-align: center;
  z-index: 1001;
}
.sub-menu > ul {
  list-style: none;
}
.sub-menu > ul > a {
  display: inline-block;
  line-height: 35px;
}
.sub-menu > ul > a > li {
  font-size: 20px;
  margin: 5px 25px;
  flex: 1;
  color: #fff;
}
.sub-menu > ul > a:hover, .sub-menu > ul > a:focus {
  color: #fff;
  text-decoration: none;
}


/* 페이지 섹션 */
#one, #three {
  height: 100vh;
}
#one {
  background-image: url(../img/one.png);
  background-size: cover;
}
#two {
  height: 100%;
}
#three {
  background-image: url(../img/three.png);
  background-size: cover;
}
#four {
  height: 100%;
}
#five {
/*  height: 60vh;*/
  background-image: url(../img/three.png);
  background-size: cover;
}

/* #one */
.text-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 800;
  color: #2a3238;
}
.dud {
  color: #fff;
}


/* #two */
/* 이미지 슬라이드 */
#carousel-generic {
  margin-top: 30px;
  position: relative;
}
.item  img {
  position: relative;
  width: 100%;
  object-fit: cover;
}
.carousel-caption > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*이미지 슬라이더 점*/
.carousel-indicators {
  position: absolute;
  height: 10px;
  width: 100px;
  top: 15px;
}
.carousel-indicators .active {
  background-color: #f34235;
  width: 25px;
  height: 15px;
  margin-bottom: 1px;
}
.carousel-indicators li {
  border: 2px solid #2a3238;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

/*이미지 슬라이드 화살표 배경및 크기*/
.glyphicon-chevron-right:before, .glyphicon-chevron-left:before {
  font-size: 1.5em;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel-control {
  width: 50%;
  opacity: 0;
}
.carousel-control:hover, .carousel-control:focus {
  opacity: 0;
}


/* #three */

.notice-content {
  background-color: rgba(42,50,56,.7);
  color: #2a3238;
  position: relative;
}


/* 선택 탭 */
.nav-tabs {
  border: 0px;
  max-width: 640px;
  margin-left: 20px;
}
.nav-tabs > li > a:hover {
  background-color: #2a3238;
  border: 1px solid #2a3238;
}
.nav-tabs > li > a {
  font-size: 20px;
  color: #fff;
  margin: 0px;
  border-radius: 0;
  border: 1px solid #fff;
}
.active > .tabBtn {
  color: #2a3238;
}
/* 공지 리스트 */
.tabs > div > md-content, .md-padding {
  background-color: transparent;
  border: 0;
}
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon, .ng-scope {
  color: #fff;
  font-size: 20px;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: #fff;
  background-color: #f34235;
}
.md-padding {
  padding: 15px;
}

.notice-list {
  list-style: none;
  max-width: 640px;
  padding-left: 0;
  margin-bottom: 40px;
}
.tab-pane > div > ul > li {
  text-align: left;
}
.noti {
  margin: 20px 0px;
  padding: 20px;
  border: 2px solid #fff;
}
.noti:hover {
  background-color: #2a3238;
}
.noti-date {
  color: #fff;
  padding-bottom: 20px;
  border-bottom: 3px solid #fff;
  font-size: 20px;
}
.noti-title {
  color: #fff;
  padding-top: 20px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* VIEW ALL NOTICE */
.notice-btn {
  color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  border: 2px solid #fff;
}
.notice-btn:hover {
  color: #fff;
  background-color: #2a3238;
  border: 2px solid #2a3238;
}


/* #four */
.link-title {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a3238;
  font-size: 40px;
  font-weight: 800;
}
.links {
  text-align: center;
}
.um-facebook-square {
  font-size: 50px;
  color: #3b5998;
  padding-bottom: 50px;
}
.um-naver-square {
  font-size: 50px;
  color: #23b300;
  padding-bottom: 50px;
}
.um-kakao-talk {
  font-size: 50px;
  color: #452007;
  padding-bottom: 50px;
}
.um-faq-o {
  font-size: 50px;
  color: #452007;
  padding-bottom: 50px;
}
.link-btn, .link-btn:focus {
  color: #2a3238;
  font-size: 20px;
  padding: 5px 25px;
  text-decoration: none;
/*  border: 2px solid #000;*/
}
.link-btn:hover {
  color: #fff;
  background-color: #2a3238;
}


/* #five */
.send {
  margin-top: -15px;
  height: 100%;
  background-color: rgba(42,50,56,.7);
}
.send-form {
  padding-bottom: 25px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.send-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: 800;
}
.send-warn {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}
.forms {
  max-width:1280px;
  margin: 0 auto;
}
#file {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.labels {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.file-btn {
  width: 180px;
  padding: 10px 0;
  border: 2px solid #fff;
}
.file-btn:hover {
  border: 2px solid #2a3238;
  background-color: #2a3238;
  cursor: pointer;
}
#upload {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 0px auto;
  padding: 10px 50px;
}
#download {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 0px auto;
  padding: 10px 30px;
}


























